
.vs/config/applicationhost.config
.vs/Movies/DesignTimeBuild/.dtbcache
.vs/Movies/v15/.suo
.vs/Movies/v15/Server/sqlite3/db.lock
.vs/Movies/v15/Server/sqlite3/storage.ide
.vs/Movies/v15/Server/sqlite3/storage.ide-shm
.vs/Movies/v15/Server/sqlite3/storage.ide-wal
Movies.API/bin/Debug/netcoreapp2.0/Movies.API.deps.json
Movies.API/bin/Debug/netcoreapp2.0/Movies.API.dll
Movies.API/bin/Debug/netcoreapp2.0/Movies.API.pdb
Movies.API/bin/Debug/netcoreapp2.0/Movies.API.runtimeconfig.dev.json
Movies.API/bin/Debug/netcoreapp2.0/Movies.API.runtimeconfig.json
Movies.API/bin/Debug/netcoreapp2.0/Movies.API.xml
Movies.API/bin/Debug/netcoreapp2.0/Movies.Business.dll
Movies.API/bin/Debug/netcoreapp2.0/Movies.Business.pdb
Movies.API/bin/Debug/netcoreapp2.0/Movies.Domain.dll
Movies.API/bin/Debug/netcoreapp2.0/Movies.Domain.pdb
Movies.API/bin/Debug/netcoreapp2.0/Movies.Domain.xml
Movies.API/bin/Debug/netcoreapp2.0/Movies.Infrastructure.dll
Movies.API/bin/Debug/netcoreapp2.0/Movies.Infrastructure.pdb
Movies.API/bin/Debug/netcoreapp2.0/Movies.Repository.dll
Movies.API/bin/Debug/netcoreapp2.0/Movies.Repository.pdb
Movies.API/obj/Debug/netcoreapp2.0/Movies.API.AssemblyInfo.cs
Movies.API/obj/Debug/netcoreapp2.0/Movies.API.AssemblyInfoInputs.cache
Movies.API/obj/Debug/netcoreapp2.0/Movies.API.csproj.CopyComplete
Movies.API/obj/Debug/netcoreapp2.0/Movies.API.csproj.CoreCompileInputs.cache
Movies.API/obj/Debug/netcoreapp2.0/Movies.API.csproj.FileListAbsolute.txt
Movies.API/obj/Debug/netcoreapp2.0/Movies.API.csprojAssemblyReference.cache
Movies.API/obj/Debug/netcoreapp2.0/Movies.API.dll
Movies.API/obj/Debug/netcoreapp2.0/Movies.API.pdb
Movies.API/obj/Movies.API.csproj.nuget.cache
Movies.API/obj/Movies.API.csproj.nuget.g.props
Movies.API/obj/Movies.API.csproj.nuget.g.targets
Movies.Business.Tests/bin/Debug/netcoreapp2.0/Mono.Cecil.dll
*.dll
*.pdb
Movies.Business.Tests/bin/Debug/netcoreapp2.0/Movies.Business.Tests.deps.json
Movies.Business.Tests/bin/Debug/netcoreapp2.0/Movies.Business.Tests.runtimeconfig.dev.json
Movies.Business.Tests/bin/Debug/netcoreapp2.0/Movies.Business.Tests.runtimeconfig.json
Movies.Business.Tests/bin/Debug/netcoreapp2.0/Movies.Domain.xml
Movies.Business.Tests/bin/Debug/netcoreapp2.0/nunit_random_seed.tmp
Movies.Business.Tests/obj/Debug/netcoreapp2.0/Movies.Business.Tests.AssemblyInfo.cs
Movies.Business.Tests/obj/Debug/netcoreapp2.0/Movies.Business.Tests.AssemblyInfoInputs.cache
Movies.Business.Tests/obj/Debug/netcoreapp2.0/Movies.Business.Tests.csproj.CopyComplete
Movies.Business.Tests/obj/Debug/netcoreapp2.0/Movies.Business.Tests.csproj.CoreCompileInputs.cache
Movies.Business.Tests/obj/Debug/netcoreapp2.0/Movies.Business.Tests.csproj.FileListAbsolute.txt
Movies.Business.Tests/obj/Debug/netcoreapp2.0/Movies.Business.Tests.Program.cs
Movies.Business.Tests/obj/Debug/netcoreapp2.0/Movies.Business.Tests.csprojAssemblyReference.cache
Movies.Business.Tests/obj/Movies.Business.Tests.csproj.nuget.cache
Movies.Business.Tests/obj/Movies.Business.Tests.csproj.nuget.g.props
Movies.Business.Tests/obj/Movies.Business.Tests.csproj.nuget.g.targets
Movies.Business.Tests/obj/project.assets.json
Movies.Business/bin/Debug/netcoreapp2.0/Movies.Business.deps.json
Movies.Business/bin/Debug/netcoreapp2.0/Movies.Domain.xml
Movies.Business/obj/Debug/netcoreapp2.0/Movies.Business.AssemblyInfo.cs
Movies.Business/obj/Debug/netcoreapp2.0/Movies.Business.AssemblyInfoInputs.cache
Movies.Business/obj/Debug/netcoreapp2.0/Movies.Business.csproj.CopyComplete
Movies.Business/obj/Debug/netcoreapp2.0/Movies.Business.csproj.CoreCompileInputs.cache
Movies.Business/obj/Debug/netcoreapp2.0/Movies.Business.csproj.FileListAbsolute.txt
Movies.Business/obj/Debug/netcoreapp2.0/Movies.Business.csprojAssemblyReference.cache
*.txt
Movies.Database/bin/Debug/Movies.Database.dacpac
Movies.Database/bin/Debug/Movies.Database.publish.sql
Movies.Database/bin/Debug/Movies.Database_1.publish.sql
Movies.Database/bin/Debug/Movies.Database_10.publish.sql
Movies.Database/bin/Debug/Movies.Database_11.publish.sql
Movies.Database/bin/Debug/Movies.Database_12.publish.sql
Movies.Database/bin/Debug/Movies.Database_13.publish.sql
Movies.Database/bin/Debug/Movies.Database_14.publish.sql
Movies.Database/bin/Debug/Movies.Database_15.publish.sql
Movies.Database/bin/Debug/Movies.Database_16.publish.sql
Movies.Database/bin/Debug/Movies.Database_17.publish.sql
Movies.Database/bin/Debug/Movies.Database_18.publish.sql
Movies.Database/bin/Debug/Movies.Database_19.publish.sql
Movies.Database/bin/Debug/Movies.Database_2.publish.sql
Movies.Database/bin/Debug/Movies.Database_20.publish.sql
Movies.Database/bin/Debug/Movies.Database_21.publish.sql
Movies.Database/bin/Debug/Movies.Database_3.publish.sql
Movies.Database/bin/Debug/Movies.Database_4.publish.sql
Movies.Database/bin/Debug/Movies.Database_5.publish.sql
Movies.Database/bin/Debug/Movies.Database_6.publish.sql
Movies.Database/bin/Debug/Movies.Database_7.publish.sql
Movies.Database/bin/Debug/Movies.Database_8.publish.sql
Movies.Database/bin/Debug/Movies.Database_9.publish.sql
Movies.Database/obj/Debug/Model.xml
Movies.Database/obj/Debug/Movies.Database.sqlprojAssemblyReference.cache
Movies.Database/obj/Debug/postdeploy.sql
Movies.Domain/bin/Debug/netcoreapp2.0/Movies.Domain.deps.json
Movies.Domain/bin/Debug/netcoreapp2.0/Movies.Domain.xml
Movies.Domain/obj/Debug/netcoreapp2.0/Movies.Domain.AssemblyInfo.cs
Movies.Domain/obj/Debug/netcoreapp2.0/Movies.Domain.AssemblyInfoInputs.cache
Movies.Domain/obj/Debug/netcoreapp2.0/Movies.Domain.csproj.CoreCompileInputs.cache
Movies.Domain/obj/Debug/netcoreapp2.0/Movies.Domain.csprojAssemblyReference.cache
Movies.Domain/obj/Movies.Domain.csproj.nuget.cache
Movies.Domain/obj/Movies.Domain.csproj.nuget.g.props
Movies.Domain/obj/Movies.Domain.csproj.nuget.g.targets
Movies.Domain/obj/project.assets.json
Movies.Infrastructure/bin/Debug/netcoreapp2.0/Movies.Domain.xml
Movies.Infrastructure/bin/Debug/netcoreapp2.0/Movies.Infrastructure.deps.json
Movies.Infrastructure/obj/Debug/netcoreapp2.0/Movies.Infrastructure.AssemblyInfo.cs
Movies.Infrastructure/obj/Debug/netcoreapp2.0/Movies.Infrastructure.AssemblyInfoInputs.cache
Movies.Infrastructure/obj/Debug/netcoreapp2.0/Movies.Infrastructure.csproj.CopyComplete
Movies.Infrastructure/obj/Debug/netcoreapp2.0/Movies.Infrastructure.csproj.CoreCompileInputs.cache
Movies.Infrastructure/obj/Debug/netcoreapp2.0/Movies.Infrastructure.csprojAssemblyReference.cache
Movies.Infrastructure/obj/Movies.Infrastructure.csproj.nuget.cache
Movies.Infrastructure/obj/Movies.Infrastructure.csproj.nuget.g.props
Movies.Infrastructure/obj/Movies.Infrastructure.csproj.nuget.g.targets
Movies.Infrastructure/obj/project.assets.json
Movies.Repository/bin/Debug/netcoreapp2.0/Movies.Domain.xml
Movies.Repository/bin/Debug/netcoreapp2.0/Movies.Repository.deps.json
Movies.Repository/obj/Debug/netcoreapp2.0/Movies.Repository.AssemblyInfo.cs
Movies.Repository/obj/Debug/netcoreapp2.0/Movies.Repository.AssemblyInfoInputs.cache
Movies.Repository/obj/Debug/netcoreapp2.0/Movies.Repository.csproj.CopyComplete
Movies.Repository/obj/Debug/netcoreapp2.0/Movies.Repository.csproj.CoreCompileInputs.cache
Movies.Repository/obj/Debug/netcoreapp2.0/Movies.Repository.csprojAssemblyReference.cache
Movies.Repository/obj/Movies.Repository.csproj.nuget.cache
Movies.Repository/obj/Movies.Repository.csproj.nuget.g.props
Movies.Repository/obj/Movies.Repository.csproj.nuget.g.targets
Movies.Repository/obj/project.assets.json
/Movies.Respository.Tests/bin/Debug/netcoreapp2.0/*.json
/Movies.API.Tests/bin/Debug/netcoreapp2.0/*.json
*.xml
netcoreapp2.0
obj
/Movies.Database/Movies.Database.dbmdl
/Movies.Database/Movies.Database.jfm
