@model Movies.Domain.DTO.User

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="margin-top:25px">
    <div class="card-body">
        <h2 class="card-title">Create new User</h2>
        @using (Html.BeginForm("Create", "User", new { area = "Admin" }))
        {
            @await Html.PartialAsync("_UserFormFields")
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Password</label>
                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            @await Html.PartialAsync("_formButtons")
        }
    </div>
</div>
